<!DOCTYPE html>
<html>
<body>

<h2>SkinAI Test</h2>

<input type="file" id="file">
<br><br>

<button onclick="analyze()">Analyze</button>

<p id="result"></p>

<script>
function analyze() {
    alert("JS is working ✅");

    let file = document.getElementById("file").files[0];

    if (!file) {
        alert("Upload image first");
        return;
    }

    let formData = new FormData();
    formData.append("file", file);

    fetch("/predict", {
        method: "POST",
        body: formData
    })
    .then(res => res.json())
    .then(data => {
        document.getElementById("result").innerText =
            data.skin_type + " (" + data.confidence + ")";
    })
    .catch(err => {
        alert("Error: " + err);
    });
}
</script>

</body>
</html>
